@use "../../styles/mixins" as mixins;

.dropdown {
	display: inline-flex;
	position: relative;

	&.drop-up {

		.dropdown-menu {
			top: auto;
			bottom: 100%;
		}
	}

	&.drop-left {

		.dropdown-menu {
			left: auto;
			right: 0;
		}
	}

	&-button {
		--_color: var(--theme-text-color);
		--_bg: var(--theme-border-rgba-10);
		--_border-width: 1px;
		--_border-color: var(--theme-border-rgba-10);
		--_padding: .25rem 1.5rem;

		--_icon-size: .75rem;
		--_icon-color: var(--gray-color);

		--_bg-hover: var(--theme-border-rgba-14);
		--_border-color-hover: var(--theme-border-rgba-10);
		--_icon-color-hover: var(--theme-text-color);

		--_bg-active: var(--theme-border-rgba-10);
		--_border-color-active: var(--theme-border-rgba-10);
		--_icon-color-active: var(--theme-success-color);

		max-width: 8.75rem;
		min-width: 6.25rem;
		flex: 1;
		justify-content: space-between;
		border: none;
		border-top: var(--_border-width) solid var(--_border-color);
		backdrop-filter: blur(.75rem);
		position: relative;

		@include mixins.breakpoint-up(md) {
			min-width: 7.5rem;
		}

		@include mixins.breakpoint-up(lg) {
			max-width: 10rem;
		}

		&::after,
		&::before {
			content: '';
			width: .125rem;
			display: inline-block;
			background-color: var(--body-bg);
			border-top: 1px solid var(--theme-border-rgba-20);
			position: absolute;
			top: .625rem;
			bottom: .625rem;
			z-index: 1;

			@include mixins.transition;
			@include mixins.no-touch;
		}

		&::after {
			left: .5rem;
		}

		&::before {
			right: .5rem;
		}

		> *:last-child {
			transition-property: color, transform;
			transition-duration: var(--_transition-duration);
			transition-timing-function: var(--_transition-timing-function);
		}

		&-text {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		&.is-active {

			@media (hover: hover) {

				&:is(:hover, :focus-visible) {
					color: var(--_color-hover);
					background-color: var(--_bg-hover);
					border-color: var(--_border-color-hover);
					transform: var(--_transform-hover);
				}
			}

			> *:last-child {
				transform: rotateX(180deg);
			}
		}
	}

	&-menu {
		min-width: 15rem;
		display: flex;
		flex-direction: column;
		gap: .625rem;
		border-top: 1px solid var(--theme-border-rgba-10);
		background-color: var(--theme-dark-color);
		padding: .625rem;
		z-index: 1040;

		&-search {

			&,
			> * {
				flex: 1;
			}
		}
	}

	&-scroll {

		&-area {
			display: flex;
			gap: .375rem;
		}

		&-viewport {
			flex: 1;
		}

		&-scrollbar{
			--radix-scroll-area-corner-width: .375rem;

			background-color: var(--theme-light-rgba-40);
		}

		&-thumb {
			padding-block: .0625rem;

			&::after {
				background-color: var(--theme-border-rgba-14);
				margin-inline: .0625rem;
			}
		}
	}

	&-list {
		max-height: 9.25rem;
		display: flex;
		flex-direction: column;
		gap: .25rem;

		@media (min-height: 700px) {
			max-height: 14rem;
		}
	}

	&-item {
		display: flex;
		align-items: center;

		&,
		&-button {
			flex: 1;
			justify-content: space-between;
		}

		&-button {
			--_border-width: 1px;
			--_border-color: transparent;

			--_color-hover: var(--theme-gray-color);
			--_bg-hover: var(--theme-border-rgba-04);
			--_border-color-hover: var(--theme-border-rgba-04);

			--_bg-active: var(--theme-border-rgba-10);
			--_border-color-active: var(--theme-border-rgba-10);
			--_icon-color-active: var(--theme-success-color);

			gap: .75rem;
			border: none;
			border-top: var(--_border-width) solid var(--_border-color);

			> *:not(.dropdown-item-checkbox):last-child {
				opacity: 0;
				transition-property: color, opacity;
				transition-duration: var(--_transition-duration);
				transition-timing-function: var(--_transition-timing-function);
			}

			@media (hover: hover) {

				&:is(:hover, :focus-visible) {

					> *:not(.dropdown-item-checkbox):last-child {
						opacity: .5;
					}
				}
			}

			&:is(:active, .is-active) {

				> *:last-child {
					opacity: 1;
				}
			}
		}

		&-checkbox {
			margin-left: auto;

			@include mixins.no-touch;
		}

		&-label {
			--_color: var(--theme-text-color);

			--_color-hover: var(--theme-text-color);
			--_bg-hover: transparent;

			--_color-active: var(--theme-text-color);
			--_bg-active: var(--theme-border-rgba-10);

			border: var(--_border-width) solid var(--_border-color);

			&:is(:active, .is-active) {
				border-inline-color: transparent;
				border-bottom-color: transparent;
			}
		}
	}

	&-empty {
		font-size: var(--fs-md);
		text-align: center;
		padding-block: .75rem;
	}

	&-buttons {
		display: flex;
		gap: .625rem;
		border-top: 1px solid var(--theme-border-rgba-10);
		padding-top: .875rem;
	}

	&-reset,
	&-apply {
		flex: 1;
	}
}