@use "../../styles/mixins" as mixins;

.fasteners {
	--fasteners-size: .375rem;

	inset: 0;

	@include mixins.no-touch;

	&,
	> * > *,
	> * > *::before,
	> * > *::after {
		position: absolute;
		z-index: 10;

		@include mixins.transition;
	}

	&-square {
		width: var(--width-decoration);

		&::before {
			content: '';
			display: block;
			width: var(--fasteners-size);
			height: var(--fasteners-size);
			background-color: var(--body-bg);
			border: 1px solid var(--theme-border-rgba-10);
		}

		&:first-child,
		&:last-child {
			bottom: 0;

			@include mixins.breakpoint-up(xl) {
				border-bottom: 1px solid var(--theme-border-rgba-10);
			}

			&::after,
			&::before {
				top: 50%;
				transform: translateY(-50%);
			}
		}

		&:first-child {
			left: var(--offset-decoration);

			&::before {
				right: calc(var(--fasteners-size) / 2 * -1);
			}
		}

		&:last-child {
			right: var(--offset-decoration);

			&::before {
				left: calc(var(--fasteners-size) / 2 * -1);
			}
		}
	}

	&-cross {
		@include mixins.breakpoint-up(xl) {
			--fasteners-size: .625rem;

			width: var(--fasteners-size);
			height: var(--fasteners-size);
			bottom: calc((var(--fasteners-size) - 2px) / 2 * -1);
		}

		&::after,
		&::before {

			@include mixins.breakpoint-up(xl) {
				content: '';
				display: inline-block;
				background-color: var(--theme-text-color);
				border: none;
				left: 50%;
				transform: translate(-50%);
			}
		}

		&::after {

			@include mixins.breakpoint-up(xl) {
				width: 1px;
				height: 100%;
				top: 1px;
			}
		}

		&::before {

			@include mixins.breakpoint-up(xl) {
				width: 100%;
				height: 1px;
				top: 50%;
			}
		}

		&:first-child {

			@include mixins.breakpoint-up(xl) {
				left: calc(var(--offset-decoration) - (var(--fasteners-size) / 2));
			}
		}

		&:last-child {

			@include mixins.breakpoint-up(xl) {
				right: calc(var(--offset-decoration) - (var(--fasteners-size) / 2));
			}
		}
	}

	&-line {

		@include mixins.breakpoint-up(xl) {
			width: var(--offset-decoration);
			display: block;
			border-bottom: 1px solid var(--theme-border-rgba-10);
			position: absolute;
			top: 0;
			bottom: 0;
		}

		&:first-child {

			@include mixins.breakpoint-up(xl) {
				left: 0;
			}
		}
	
		&:last-child {
	
			@include mixins.breakpoint-up(xl) {
				right: 0;
			}
		}
	}

	&-fill {

		@include mixins.breakpoint-up(xl) {
			background-color: var(--theme-light-rgba-60);
		}
	}
}