@use "../../styles/mixins" as mixins;

.btn {
	--_width: initial;
	--_height: initial;
	--_fs: var(--fs-base);
	--_fw: 500;
	--_lh: normal;
	--_ls: normal;
	--_color: var(--theme-gray-color);
	--_bg: transparent;
	--_border-width: 0;
	--_border-style: solid;
	--_border-color: transparent;
	--_rounded: 0;
	--_padding: 0;
	--_transform: initial;
	--_transition-duration: var(--transition-duration);
	--_transition-timing-function: var(--transition-timing-function);

	--_icon-size: 1rem;
	--_icon-color: currentColor;

	--_color-hover: var(--theme-text-color);
	--_bg-hover: transparent;
	--_border-color-hover: transparent;
	--_transform-hover: initial;
	--_icon-color-hover: currentColor;

	--_color-active: var(--theme-text-color);
	--_bg-active: transparent;
	--_border-color-active: transparent;
	--_transform-active: initial;
	--_icon-color-active: currentColor;

	width: var(--_width);
	height: var(--_height);

	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: .5rem;

	font-family: inherit;
	font-size: var(--_fs);
	font-weight: var(--_fw);
	line-height: var(--_lh);
	letter-spacing: var(--_ls);
	color: var(--_color);
  text-align: center;
	cursor: pointer;
	background-color: var(--_bg);
	border: var(--_border-width) var(--_border-style) var(--_border-color);
	border-radius: var(--_rounded);
	padding: var(--_padding);
	outline: none;
	text-decoration: none;
	box-sizing: border-box;
	transform: var(--_transform);
	transition-property: color, text-shadow, background, border, transform, opacity;
	transition-duration: var(--_transition-duration);
	transition-timing-function: var(--_transition-timing-function);

	@media (hover: hover) {
		&:is(:hover, :focus-visible) {
			color: var(--_color-hover);
			background-color: var(--_bg-hover);
			border-color: var(--_border-color-hover);
			transform: var(--_transform-hover);

			.icon {
				--_color: var(--_icon-color-hover);
			}
		}
	}

	&:is(:active, :global(.is-active)) {
		color: var(--_color-active);
		background-color: var(--_bg-active);
		border-color: var(--_border-color-active);
		transform: var(--_transform-active);

		.icon {
			--_color: var(--_icon-color-active);
		}
	}

	&:disabled {
		opacity: 0.25;
		pointer-events: none;
	}

	.icon {
		--_size: var(--_icon-size);
		--_color: var(--_icon-color);
	}
}

.btn-icon {
	--_color: var(--theme-text-color);
	--_border-width: 1px;
	--_border-color: var(--theme-border-rgba-10);
	--_padding: .625rem;
	--_icon-size: .875rem;
	--_border-color-hover: var(--theme-text-color);
	--_border-color-active: var(--theme-text-color);
}

.btn-base {
	--_height: 2.125rem;
	--_fs: .75rem;
	--_fw: 500;
	--_padding: .25rem .625rem;
	--_icon-size: .75rem;

	@include mixins.breakpoint-up(lg) {
		--_fs: .875rem;

		--_icon-size: .875rem;
	}
}

.btn-primary {
	--_color: var(--light);
	--_color-hover: var(--light);
	--_color-active: var(--light);
	--_bg: var(--primary);
	--_bg-hover: var(--primary-500);
	--_bg-active: var(--primary-500);
}

.btn-outline-primary {
	--_color: var(--primary);
	--_color-hover: var(--light);
	--_color-active: var(--light);
	--_bg-hover: var(--primary);
	--_bg-active: var(--primary);
	--_border-width: 1px;
	--_border-color: var(--primary);
	--_border-color-hover: var(--primary);
	--_border-color-active: var(--primary);
}

.btn-gray-200 {
	--_color: var(--dark-400);
	--_color-hover: var(--dark-400);
	--_color-active: var(--light);
	--_bg: var(--gray-200);
	--_bg-hover: var(--gray-300);
	--_bg-active: var(--dark-400);
}

.btn-dark-400 {
	--_color: var(--light);
	--_color-hover: var(--primary);
	--_color-active: var(--light);
	--_bg: var(--dark-400);
	--_bg-hover: var(--dark-400);
	--_bg-active: var(--dark);
}