@use "mixins" as mixins;
@use "variables";

@import 'reset-css';

@include mixins.font-face("Manrope", "Manrope-Regular", 400, normal);
@include mixins.font-face("Manrope", "Manrope-Medium", 500, normal);
@include mixins.font-face("Manrope", "Manrope-SemiBold", 600, normal);
@include mixins.font-face("Orbitron", "Orbitron-Bold", 700, normal);

* {

  &,
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  min-width: 20rem;

  font-family: var(--font-family, sans-serif);
  font-size: var(--fs-base);
  font-weight: var(--fs-base);
  line-height: var(--lh-base);
  color: var(--theme-text-color);
  background-color: var(--body-bg);

  @include mixins.transition;

  @media (min-height: 768px) {
    height: 100vh;

    @supports (height: 100dvh) {
      height: 100dvh;
    }
  }
}

body,
#root,
main {
  display: flex;
  flex-direction: column;
}

#root,
main {
  height: 100%;
	flex: 1;
}

#root {
  position: relative;
  overflow: hidden;

  &::after,
  &::before {

    @include mixins.breakpoint-up(xl) {
      content: '';
      display: block;
      width: var(--width-decoration);
      background-color: var(--theme-light-rgba-60);
      border-inline: 1px solid var(--theme-border-rgba-10);
      position: absolute;
      top: 0;
      bottom: 0;

      @include mixins.no-touch;
      @include mixins.transition;
    }
  }

  &::after {

    @include mixins.breakpoint-up(xl) {
      left: var(--offset-decoration);
    }
  }

  &::before {

    @include mixins.breakpoint-up(xl) {
      right: var(--offset-decoration);
    }
  }
}

.container {
  max-width: var(--container-width);
  margin-inline: auto;
  padding-inline: var(--container-offset);
}

.scrollable {
  scrollbar-color: var(--theme-border-rgba-14) var(--theme-light-rgba-40);
  transition-property: scrollbar;
  transition-property: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.srollable-y {
  overflow-y: auto;
  overflow-x: hidden;
}

.scroll-area {
  --radix-scroll-area-button-size: 1.25rem;

  &,
  &-viewport,
  &-viewport > * {
    height: 100%;
  }

  &-scrollbar {
    --radix-scroll-area-corner-width: .375rem;
    --radix-scroll-area-corner-height: 0;

    width: var(--radix-scroll-area-corner-width);
    background-color: var(--theme-light-rgba-40);

    @include mixins.transition;

    @include mixins.breakpoint-hover-up(xl) {
      --radix-scroll-area-corner-width: 1.25rem;

      background-color: var(--theme-border-rgba-04);
      border-top: 1px solid var(--theme-border-rgba-10);
      cursor: pointer;
    }

    &-thin {
      --radix-scroll-area-corner-width: .375rem;

      background-color: var(--theme-light-rgba-40);
    }
  }

  &-thumb {

    @include mixins.breakpoint-hover-up(xl) {
      cursor: grabbing;
      padding-block: .25rem;
    }

    &::after {
      content: '';
      height: 100%;
      display: block;
      background-color: var(--theme-border-rgba-14);

      @include mixins.transition;

      @include mixins.breakpoint-hover-up(xl) {
        margin-inline: .1875rem;
        border-top: 1px solid var(--theme-border-rgba-10);
        background-color: var(--theme-border-rgba-08);
      }
    }

    &-thin {
      padding-block: .0625rem;

      &::after {
        background-color: var(--theme-border-rgba-14);
        margin-inline: .0625rem;
      }
    }
  }
}

.theme-toggle-transition {
	@include mixins.transition;
}