@use "../../styles/mixins" as mixins;

.columnheader {
	height: var(--_header-height);
	display: flex;
	align-items: center;
	padding-inline: var(--container-offset);
	font-size: .75rem;
	font-weight: 500;
	color: var(--theme-gray-rgba-70);
	padding-block: .25rem;

	@include mixins.transition;

	&-info,
	&-sort {
		display: flex;
		align-items: center;
	}

	&,
	&-info {
		gap: .5rem;
	}

	&-info {
		flex: 1;
	}

	&-sort {
		--_color: var(--theme-gray-rgba-50);
		--_padding: .5rem 0;

		--_color-hover: var(--theme-gray-color);
		--_color-active: var(--theme-gray-color);

		gap: .25rem;

		&-icon {
			--_size: .625rem;

			&:first-child {
				transform: rotate(180deg);
			}

			&.is-active {
				--_color: var(--theme-text-color);
			}
		}
	}
}