@use "../../styles/mixins" as mixins;

.table {
	height: 100%;
	display: flex;
	flex-direction: column;

	&:global([data-has-vertical-scroll="true"]) {
		@include mixins.breakpoint-hover-up(xl) {
			margin-right: calc(var(--scrollbar-width) * -1);
		}
	}

	&-section {
		--_header-height: 3rem;

		height: calc(100vh - var(--header-height, 0rem) - var(--filters-height, 0rem));

		@supports (height: 100dvh) {
      height: calc(100dvh - var(--header-height, 0rem) - var(--filters-height, 0rem));
    }

		@media (min-height: 768px) {
			flex: 1;
			height: auto;
		}

		> :global(.container) {
			height: 100%;
			padding-inline: 0;
		}
	}

	&-body {
		flex: 1;
		display: grid;
	}
}

.row {
	grid-column: -1 / 1;
	display: grid;
	grid-template-columns: 8.125rem minmax(15.625rem, 1fr) minmax(11.25rem, 12.5rem) minmax(11.25rem, 12.5rem) 10.625rem 10.625rem;
	background-color: var(--body-bg);
	border-bottom: 1px solid var(--theme-border-rgba-10);

	@include mixins.transition;

	&.even {
		background-color: var(--theme-border-rgba-03);
	}
}

.message {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}