@use "../../styles/mixins" as mixins;

.cell {
	min-height: 4.5rem;
	display: flex;
	align-items: center;
	padding-inline: var(--container-offset);
	font-size: var(--fs-md);
	padding-block: .875rem;

	&-collapse {
		grid-column: -1 / 1;
		display: grid;
		grid-template-rows: 0fr;

		&.is-open {
			grid-template-rows: 1fr;

			.cell-collapse-content {
				border-top: 1px solid var(--theme-border-rgba-10);

				transition-property: background-color, border-color;
				transition-duration: var(--transition-duration);
				transition-timing-function: var(--transition-timing-function);
			}
		}

		&-content {
			display: grid;
			grid-template-columns: 15rem minmax(0, 1fr);
			grid-template-rows: fit-content;
			background-color: var(--theme-light-color);
			border-color: var(--theme-border-rgba-10);
			overflow: hidden;
		}

		&-header {
			align-items: stretch;
			padding: .375rem;
		}

		&-button {
			--_fw: 600;
			--_color: var(--theme-text-color);
			--_border-width: 1px;
			--_border-color: transparent;
			--_padding: .25rem .875rem;
			--_icon-size: .75rem;
			--_icon-color: var(--link-color);

			--_bg-active: var(--theme-border-rgba-10);

			--_border-color-active: var(--theme-border-rgba-10);

			flex: 1 1;
			justify-content: space-between;
			border-inline: none;
			border-bottom: none;

			&:global(.is-active) {

				> span {
					transform: rotateX(180deg);
				}
			}
		}
	}

	&-name {
		font-weight: 600;
	}

	&-list {
		flex: 1;
		align-self: stretch;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: .625rem;
		line-height: 1;
	}

	&-ligament {
		display: grid;
		grid-template-columns: repeat(2, 5.25rem);
		gap: 3.5rem;

		&-item {
			display: flex;
			flex-direction: column;
			gap: .5rem;
			position: relative;
		}

		&-link {
			display: flex;
			align-items: center;
			gap: .5rem;
			font-weight: 500;
			color: var(--link-color);
			text-transform: capitalize;
			text-underline-offset: .125em;
			@include mixins.transition;

			@media (hover: hover) {

				&:is(:hover, :focus-visible) {
					color: var(--theme-text-color);
				}
			}

			&-icon {
				--_size: .875rem;
				--_color: var(--theme-text-color);
			}
		}

		&-price {
			font-size: .75rem;
			color: var(--theme-gray-color);
		}

		&-icon {
			--_size: .75rem;
			--_color: var(--theme-border-rgba-14);

			position: absolute;
			top: 50%;
			left: calc(100% + 1.25rem);
			transform: translateY(-50%) rotate(45deg);
		}
	}

	&-orderbook {
		display: flex;
		flex-direction: column;
		gap: .5rem;
		font-weight: 500;

		&-usd {
			font-size: .75rem;
			color: var(--theme-gray-color);

			transition-property: color;
			transition-duration: var(--transition-duration);
			transition-timing-function: var(--transition-timing-function);
		}
	}

	&-pairs {
		display: flex;
		flex-direction: column;
		border-right: 1px solid var(--theme-border-rgba-10);

		transition-property: border-color;
		transition-duration: var(--transition-duration);
		transition-timing-function: var(--transition-timing-function);
	}

	&-pair {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding: 1.25rem;
		position: relative;
		overflow: hidden;

		&:not(:first-child) {
			border-top: 1px solid var(--theme-border-rgba-10);

			transition-property: border-color;
			transition-duration: var(--transition-duration);
			transition-timing-function: var(--transition-timing-function);

			.cell-pair-price {

				.cell-item-success,
				.cell-item-danger {

					&::after {
						top: -2rem;
						right: -2rem;
					}
				}
			}
		}

		&-header {
			display: flex;
			justify-content: space-between;
		}

		&-name {
			font-size: .875rem;
			display: flex;
			align-items: center;
			gap: .5rem;

			&-icon {
				--_size: .875rem;
				--_color: var(--theme-text-color);

				transition-property: color;
				transition-duration: var(--transition-duration);
				transition-timing-function: var(--transition-timing-function);
			}
		}

		&-price {
			display: flex;
			align-items: center;
		
			.cell-item-success,
			.cell-item-danger {
				
				&::after {
					content: '';
					width: 4.25rem;
					height: 4.25rem;
					display: block;
					border-radius: 50%;
					background-color: currentColor;
					opacity: .15;
					filter: blur(2rem);
					position: absolute;
					top: 0;
					right: 0;
					@include mixins.no-touch;
				}
			}
		}

		&-list {
			display: flex;
			flex-direction: column;
			gap: .75rem;
			font-size: .75rem;
			font-weight: 500;

			&-item {
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: 1rem;

				> span {

					&:first-child {
						color: var(--theme-gray-color);
					}
				}
			}
		}
	}

	&-lifetime {
		white-space: nowrap;
	}

	&-chart {
		position: relative;
		z-index: 0;
	}

	&-item {
		justify-content: space-between;

		&,
		&-link {
			display: flex;
			align-items: center;
		}

		&-link {
			gap: .5rem;
			color: inherit;
			text-decoration: none;

			@media (hover: hover) {

				&:is(:hover, :focus-visible) {
					text-decoration: underline;
				}
			}

			&:active {
				text-decoration: underline;
			}
		}

		> span:last-child {
			display: flex;
			align-items: center;
			gap: .625rem;

			@include mixins.breakpoint-up(md) {
				font-size: .8125rem;
			}
		}

		time {
			display: inline-flex;
			align-items: center;
			font-size: .75rem;
			font-weight: 500;
			line-height: 1;
			color: var(--theme-gray-color);
			background-color: var(--theme-border-rgba-10);
			border-top: 1px solid var(--theme-border-rgba-10);
			padding: .125rem .25rem;

			@include mixins.transition;
		}

		&-success,
		&-danger {
			--_size: .75rem;

			@include mixins.transition;
			transition-property: color;
		}

		&-success {
			--_color: var(--theme-success-color);
		}

		&-danger {
			--_color: var(--theme-danger-color);

			transform: rotate(180deg);
		}
	}

	&-spread {
		flex: 1;
		align-self: stretch;
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-weight: 600;
		margin: -.5rem calc((var(--container-offset) - .375rem) * -1);
		border-top: 1px solid transparent;
		padding: .875rem;

		@include mixins.transition;

		&-icon {
			--_size: .75rem;
			--_color: inherit;
		}

		&.plus {
			color: var(--theme-success-color);
			background-color: var(--theme-success-rgba-10);
			border-color: var(--theme-success-rgba-10);
		}

		&.minus {
			color: var(--theme-danger-color);
			background-color: var(--theme-danger-rgba-10);
			border-color: var(--theme-danger-rgba-10);
		}
	}

	&:not(:last-child) {
		border-right: 1px solid var(--theme-border-rgba-10);

		@include mixins.transition;
	}
}